<div>
    <form>
        <label>Name</label>
        <input name=" name" />
        <label>Address</label>
        <input name=" address" />

    </form>
</div>

@section Scripts{
    <script>

    </script>
}